<nav>
    <div class="user-status">
        <% if (locals.user) { %>
            <span>Logged as: <strong>
                    <%= user %>
                </strong></span>
            <a href="/logout" class="btn">Logout</a>
            <% } else { %>
                <a href="/login" class="btn">Login</a>
                <% } %>
    </div>
</nav>
<br>